<nav class="navbar navbar-expand-lg navbar-dark nav">
    <div class="container-fluid">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item size" routerLink="/home" routerLinkActive="active">
                <a class="nav-link active" aria-current="page">בית</a>
            </li>
            <li class="nav-item size" routerLink="/login" routerLinkActive="active">
                <a class="nav-link">התחברות</a>
            </li>
            <li class="nav-item size" routerLink="/register" routerLinkActive="active">
                <a class="nav-link">הרשמה</a>
            </li>
            <li class="nav-item size" routerLink="/us" routerLinkActive="active">
                <a class="nav-link">צור קשר</a>
            </li>
        </ul>
        <div class="text-white size">
            <span *ngIf="user; else guest">שלום {{user.name}}
                <mat-icon class="logout" (click)="logout()">login</mat-icon>
            </span>
            <ng-template #guest>
                <span>שלום אורח</span>
            </ng-template>
        </div>
    </div>
</nav>